# OUTPUT FILES
*.exe
*.o
*.out
*.pdb
*.a

# CMAKE BUILD FILES
**/CMakeFiles
**/CMakeCache.txt
*.cmake

# LINUX SPECIFIED BUILD FILES
**/Makefile

# VISUAL STUDIO FILES
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.csproj

# VISUAL STUDIO DIRECTORIES
**/.vs/
**/obj/
**/x64/
**/*.dir/
**/Debug/
**/Release/ 

# LOGS
*.log
*.recipe
*.tlog

# VSCODE
/.vscode